*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

#transP{
    position: fixed;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.84);
}
#firstDiv{
    color: white;
    width: 100%;
    height: 450px;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 2px solid yellow; */
}

#header{
    padding: 25px 75px;
    /* border: 2px solid red; */
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header a{
    color: white;
}
#header p:hover{
    cursor: pointer;
}

.L-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
    letter-spacing: 0.5px;
    font-size: 14px;
    width: 8.5%;
}
.L-header i{
    /* border: 2px solid red; */
    font-size: 14px;

}

.R-header{
    /* border: 2px solid red; */
    width: 46%;
    display: flex;
    font-size: 19px;
    
    font-weight:-500;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}
.logo-search-main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items:end; */
    /* border: 2px solid yellow; */
    height: 400px;
}
#logo_search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid yellow; */
    width: 900px;
    height: 250px;
    margin-top: -120px;
}
.searchBar i{
    font-size: 22px;
}

#zomaitoM{
    /* border: 1px solid #da2b71; */
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo_search h1{
    font-size: 80px;
    font-weight: 900;
    /* visibility:hidden; */
}
#logo_search p{
    font-size: 39px;
    font-weight:100;
}

.searchBar{
    width: 86%;
    height: 55px;
    background-color: white;
    /* border: 2px solid rgb(234, 112, 12); */
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.input1{
    border: none;
    width: 35%;
    height: 20px;
    background: none;
    font-size: 14px;
    /* color: grey; */
    letter-spacing: .7px;
    outline: none;
    padding: 10px;
    border-right: 1.5px solid rgb(205, 205, 193);
    /* border: 2px solid yellow; */
}
.input1::placeholder{
    font-size: 14px;
}
.fa-location-dot{
    font-size: 20px;
    color: #da2b71;
    /* border: 1px solid; */
    height: 100%;
    width: 25px;
    padding: 10px;
    
}
.fa-magnifying-glass{
    font-size: 18px;
    color: #878889;
    /* border: 1px solid; */
    height: 100%;
    width: 25px;
    padding: 10px;
}
.input2{
    padding: 10px;
    border: none;
    /* border: 2px solid yellow; */
    width: 65%;
    height: 20px;
    /* height: 70%; */
    background: none;
    font-size: 14px;
    /* color: grey; */
    outline: none;
    letter-spacing: .7px;
}
.input1::placeholder{
    font-size: 14px;
}

/* *****************SecondDiv***************** */
#SecondDivMain{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
#SecondDiv{
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 300px;
    padding: 0px, 500px;
}
.Div2nd{
    border-radius: 10px;
    width: 350px;
    height: 230px;
    border: .2px solid rgb(234, 228, 228);
    transition: transform .2s ease-out;
}

.Div2nd:hover{
    transform: scale(1.04);
}
#SecondDiv img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    width: 350px;
}
.orderOnline{
    order: 1;
}
.Dining{
    order: 2;   
}
.nightLife_clubs{
    order: 3;
}
.Div2ndContent{
    
    /* border: 2px solid blue; */
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.Div2ndContent p{
    color: rgb(92, 90, 90);
}

/* ***************** 3rd Div ***************** */
#div3rd{
    /* border: 2px solid blue; */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div3rdContent{
    width: 87.5%;
    height: 87.5%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    
}
#div3rdContent h3{
    font-size: 35px;
}
.div3rdOne{
    display: flex;
    justify-content: space-between;
}
.div3rdOne>*{
    font-size: 18px;
    font-weight: 100;
    color: rgb(75, 73, 73);
    margin-top: -25px;
}
.div3rdTwo{
    display: flex;
    justify-content: space-between;

}
.card{
    height: 325px;
    width: 265px;
    /* border: 2px solid rgb(47, 212, 50); */
    border-radius: 9px;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    justify-content: end;
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    padding: 15px;
    height: 100px;
    /* border: 2px solid yellow; */
}
.card1{
    background-image: url(/img-zomaito/dine-restaurant.jpg);
}
.card2{
    background-image: url(/img-zomaito/Side-Bar-San-Diego-Remodel-Club-Interior-1024x683.jpeg);
}
.card3{
    background-image: url(/img-zomaito/rajma-chawal-1600x900.avif);
}
.card4{
    background-image: url(/img-zomaito/81f3ff974d82520780078ba1cfbd453a1583259680.avif);
}

/* ***************** Footer ***************** */
#Footer{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #F8F8F8
}
.footer{
    /* border: 1px solid black; */
    width: 87%;
    height: 325px;
    
}
.footdiv1{
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

}
.footdiv1 h1{
 font-weight: 900;
 font-size: 35px;
 /* border: 1px solid red; */
 /* height: 40px; */
}
.loc_lang{
    display: flex;
    justify-content: space-between;
    width: 272px;
    /* border: .5px solid black; */
}
.loc_lang button{
    height: 42.5px;
    background: none;
    border: .5px solid rgb(161, 158, 158);
    border-radius: 7px;
    outline: none;
    font-size: 18px;
}
.loc_lang button:hover{
    cursor: pointer;
}

.loc{
    /* border: .5px solid black; */
    width: 110px;
}
.lang{
    /* border: .5px solid black; */
    width: 140px;
}

/* ----------------------Popular localities------------------ */

#Popular_localities{
    width: 100%;
    height: 550px;
    /* border: 2px solid #da2b71; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_popular_localities{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 70%;
    /* border: 2px solid #da2b71; */
}
.Delhi_locs{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.Delhi_locs div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #d7d3d5;
    border-radius: 7px;
    height: 80px;
    padding: 0px 20px;
    box-shadow: 0px .5px 3px rgb(215, 209, 209);
    /* width: 30%; */
    
}

.Delhi_locs div:hover{
    box-shadow: 0px .5px 3px rgb(176, 171, 171);
    cursor: pointer;
    
}
.Delhi_locs div p{
    font-family: sans-serif;
    
}
.p1{
    color: rgb(36, 34, 34);
    font-size: 21px;
    font-weight: lighter;
}
.p2{
    color: rgb(90, 88, 88);
    font-size: 15px;
    /* font-family: sans-serif;
    font-weight: lighter; */
}
.see_more span{
    transform: rotate(90deg);
}

/* ----------------------get the zomaito app------------------ */

#get_Zomaito_App{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFBF7;
    width: 100%;
    height: 90vh;
    /* border: 2px solid #da2b71; */
}
.sub_get_Zomaito_App{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 70%;
    height: 85%;
    /* border: 2px solid #da2b71; */
    margin-left: 50px;
}
.Zomaito_App_img img{
    height: 270px;
    width: 250px;
}
.Zomaito_App_img{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 35%;
    height: 100%;
    /* border: 2px solid red; */
    
}
.Zomaito_App_txt{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 65%;
    height: 90%;
    /* border: 2px solid blue; */
    
}
.email_phone_link_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    /* border: 2px solid blue; */
}
.email_phone_link_btn div{
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-items: center;
    /* border: 2px solid red; */

}
.email_phone_link_btn input{
    width: 18px;
    height: 18px;
    /* color: #da2b71; */
}

.enter_email_phone{
    /* border: 2px solid blue; */
    
}
.enter_email_phone input{
    border: none;
    width: 325px;
    border: 1px solid rgb(208, 201, 201);
    height: 50px;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
    padding-left: 10px;
}
.enter_email_phone input::placeholder{
    font-size: 19px;
    color: rgb(183, 179, 179);
    /* padding-left: 10px; */
}
.enter_email_phone button{
    border: none;
    width: 150px;
    height: 50px;
    background-color: rgb(230, 16, 87);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    
}
.gplay-astore{
    /* border: 2px solid maroon ; */
}
.gplay-astore img{
    width: 150px;
    height:50px;
    margin-right: 15px;
}
